{% block body %}
    {% if produits.vetement.stock > 0 %}
        <div class="col-md-4 mb-4">
            <div class="jordan-card">
                <span class="badge-jordan">Vêtement</span>
                <img src="{{ produits.vetement.image }}" alt="Image Vetement" class="jordan-img">
                <h3 class="jordan-title">{{ produits.vetement.name }}</h3>
                <p class="jordan-info">{{ produits.vetement.stock }} en stock</p>
                <p class="jordan-info">{{ produits.vetement.prix }} €</p>            
                <button type="button" class="btn btn-outline-danger">Ajouter au panier</button>
            </div>
        </div>
    {% endif %}
{% endblock %}
