{% extends 'base.html.twig' %}

{% set hasVetement = vetements is not empty %}
{% set hasBasket = baskets is not empty %}

{% block title %}Jordan{% endblock %}

{% block body %}
<div class="text-center mt-5 fs-1 text-white">
    {% if hasVetement or hasBasket %}
        <h1 class="text-danger">Bienvenue dans votre e-commerce "Jordan"</h1>
    </div>

    <div class="container mt-4">
        {% if hasVetement %}
            <h2 class="text-center text-danger my-4">Vêtements</h2>
            {% include 'vetement/_vetement.html.twig' with { vetements: vetements } %}
        {% endif %}

        {% if hasBasket %}
            <h2 class="text-center text-danger my-4">Baskets</h2>
            {% include 'basket/_basket.html.twig' with { baskets: baskets } %}
        {% endif %}
    </div>

    {% else %}
        <div class="text-center mt-5 text-white">
            <p>Aucun produit trouvé.</p>
        </div>
    {% endif %}
{% endblock %}
